html,body{
  height: 100%;
}

html{
  font-size: 62.5%;
}

body{
  background: linear-gradient(to left bottom, #0f0f0f, #050505);
  width: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: #fff;
}

body, button, input{
  font-family: 'Roboto Flex', sans-serif;
}

.main{
  width: calc(100% - 32px);
  max-width: 936px;
  padding: 42px 64px 64px 64px;
  background-color: #181818;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 825px){
  .main{
    padding: 24px;
  }
}

@media screen and (max-width: 450px){
  html{
    height: auto;
  }
  body{
    padding: 32px 0px;
    height: auto;
  }
  .main{
    width: calc(100% - 16px);
    padding: 32px 16px; 
  }
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: relative;
  z-index: 10;
}

.form__header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px
}

.form__header .title{
  font-size: 32px;
  font-weight: bold;
}

.form__header .description{
  line-height: 180%;
  max-width: min(100%, 600px);
}

.form__fieldset{
  display: flex;
  gap: 8px;
  width: 100%;
}


/* Display Input */
.form__fieldset .display,
.form__fieldset .button-copy{
  height: 48px;
}

.form__fieldset .input-field{
  position: relative;
  width: 100%;
}

.form__fieldset .display{
  width: min(800px, 100%);
  padding: 16px;
  background: var(--input-background);
  border: 1px solid hsla(0, 0%, 100%, 15%);
  color: var(--white);
  cursor: default;
  border-radius: 4px;
  letter-spacing: 5px;
  font-size: 16px;
  overflow: hidden;
  padding-right: 40px;
}

.form__fieldset .display::placeholder{
  font-size: 1.3rem;
  letter-spacing: 0.16rem;
  color: #fff;
}

.form__fieldset .display:focus{
  outline: none;
}

.form__fieldset .button-copy{
  position: absolute;
  right: 0px;
  cursor: pointer;
  height: 100%;
  width: 40px;
  background: transparent;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.form__fieldset .button-copy svg{
  width: 20px;
  height: 20px;
  stroke: var(--gray);
  transition: 250ms linear;
}

.form__fieldset .button-copy:hover svg{
  stroke: #fff;
}

/* </ Display Input */




.form__fieldset .button-submit{
  background: var(--primary);
  border: 1px solid var(--primary);
  color: #fff;
  font-weight: bold;
  min-width: 200px;
  cursor: pointer;
  transition: 250ms linear;
  border-radius: 4px;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
}

@media screen and (max-width: 825px){
  .form__fieldset .button-submit{
    min-width: 180px;
  }
}

@media screen and (max-width: 550px){
  .form__fieldset{
    flex-direction: column;
  }
  .form__fieldset .button-submit,
  .form__fieldset .display{
    width: 100%;
    height: 48px;
  }
}

.form__fieldset .button-submit:hover{
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  color: #fff;
}

.form__fieldset .button-submit:disabled{
  background-color: #888;
  border: 1px solid #888;
  cursor: default;
  color: #aaa;
}


/* OPTIONS */
.form__filter{
  width: 100%;
  display: flex;
  background: var(--input-background);
  padding: 24px;
  border-radius: 4px;
}

@media screen and (max-width: 450px){
  .form__filter{
    padding: 24px 16px;
  }
}

.form__filter .col{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
}

.form__filter .col:first-child{
  min-width: 304px;
}

.form__filter .col:last-child{
  align-items: flex-end;
  flex-shrink: 1;
}

.form__filter .filter__opt{
  height: 34px;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 660px){
  .form__filter{
    flex-direction: column;
  }

  .form__filter .col{
    width: 100%;
    justify-content: flex-start;

  }

  .form__filter .col:last-child{
    align-items: flex-start;
    justify-content: space-between;
  }

  .form__filter .filter__opt{
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 440px){
  .form__filter .col:first-child{
    min-width: unset;
  }
}

.form__filter .filter__opt #pass-length{
  width: 50px;
  height: 34px;
  border-radius: 4px;
  background: var(--input-number-background);
  border: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border: 1px solid #2b2b2b;
}

.form__filter .filter__opt #pass-length:focus{
  outline: 1px solid hsla(0, 0%, 100%, 15%);
}

/* Removing Arrow of number input in Chrome, Safari, Edge, Opera */
.form__filter .filter__opt #pass-length::-webkit-outer-spin-button,
.form__filter .filter__opt #pass-length::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Removing Arrow of number input in Firefox */
.form__filter .filter__opt #pass-length[type=number] {
  -moz-appearance: textfield;
}

.form__filter .filter__opt input[type=checkbox]{
  opacity: 0;
}



.checkbox{
  background: var(--input-number-background);
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #2b2b2b;
  overflow: hidden;
  transition: 250ms linear;
}

.checkbox input{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkbox:has(input:checked)::before{
  content: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 3.5L4 6L9 1' stroke='%23EEEEEF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkbox:has(input:hover){
  box-shadow: 0 4px 4px var(--primary-checkbox-shadow);
}

.checkbox:has(input:checked){
  background: var(--primary);
  border: 1px solid var(--primary);
}



/* Autor Link */

.footer p{
  color: #fff;
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer p a{
  text-underline-offset: 3px;
  display: flex;
  align-items: center;
  color: #fff;
}